# SPDX-License-Identifier: GPL-2.0

config CAM_VCAM
	tristate "Virtual camera driver"
	help
	  Driver for a virtual CAM device.

	  This driver creates a virtual CAM device that emulates a camera
	  without depending on any particular hardware. It can be used to test
	  both userspace code against the CAM API, and the CAM subsystem core.

	  The module will be called vcam.ko.
