# SPDX-License-Identifier: GPL-2.0

menuconfig CAM
	bool "CAM"
	select DMA_SHARED_BUFFER
	select SYNC_FILE
	help
	  The CAM UAPI and framework.

	  Enable this if you have complex imaging related devices.

	  NOTE THAT THE CAM API IS EXPERIMENTAL. IT MAY NOT BE CONSIDERED
	  STABLE AT THE MOMENT.

	  The module will be called cam.ko.

config CAM_KUNIT_TESTS
	tristate "KUnit tests for cam" if !KUNIT_ALL_TESTS
	depends on CAM && KUNIT
	default KUNIT_ALL_TESTS
	help
	  This builds the cam KUnit tests.

	  KUnit tests run during boot and output the results to the debug log
	  in TAP format (https://testanything.org/). Only useful for kernel devs
	  running KUnit test harness and are not for inclusion into a production
	  build.

	  For more information on KUnit and unit tests in general please refer
	  to the KUnit documentation in Documentation/dev-tools/kunit/.

	  If unsure, say N.

if CAM

source "drivers/cam/platform/Kconfig"

endif # CAM
